<title>{{ .Params.Title }}{{ if .Params.Title }} / {{end}}アイをなくした。</title>
<meta name="title" content="{{ .Params.Title }}{{ if .Params.Title }} / {{end}}アイをなくした。"/>
<meta itemprop="name" content="{{ .Params.Title }}{{ if .Params.Title }} / {{end}}アイをなくした。"/>
<meta property="og:title" content="{{ .Params.Title }}{{ if .Params.Title }} / {{end}}アイをなくした。"/>
<meta property="og:site_name" content="{{ .Params.Title }}{{ if .Params.Title }} / {{end}}アイをなくした。"/>
<meta property="og:url" content="https://h-j-ainashi.github.io/"/>
<meta property="og:image" content="{{ if .Params.Image }}{{ .Params.Image | absURL }}{{ else }}{{ "img/background.jpg" | absURL }}{{end}}"/>
<meta property="og:description" content="{{ if .Params.Description }}{{ .Params.Description }}{{ else }}{{ .Site.Params.description }}{{end}}"/>
<meta name="twitter:title" content="{{ .Params.Title }}{{ if .Params.Title }} / {{end}}アイをなくした。"/>
<meta name="twitter:site" content="@H_J_Ainashi"/>

