$breakpoint-width: (
    'md': 'screen and (min-width: 768px)'
) !default;

@mixin isLarge($breakpoint: md) {
    @media #{map-get($breakpoint-width, $breakpoint)} {
        @content;
    }
}

@font-face {
    font-family: "NewTegomin";
    src: url(./../font/NewTegomin-Regular.woff) format('woff');
}

@font-face {
    font-family: "Stick";
    src: url(./../font/Stick-Regular.woff) format('woff');
}

@font-face {
    font-family: "Kiwimaru";
    src: url(./../font/KiwiMaru-Light.woff) format('woff');
}

body {

    --width: calc(100vw - 9px);
    @include isLarge(md) {
        --width: 750px;
    }

    /* background */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    background-image: url(./../img/background.webp) !important;
    background-color: rgba(0, 0, 0, 0.4);

    /* Navigation Bar */
    .navbar {
        background-color: coral !important;
        box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.1);
        .navbar-header{ 
            a {
                color: white !important;
                font-family: "Stick";
                letter-spacing: 0.1em;
            }
            .icon-bar {
                background: white;
            }
        }
        .nav {
            li a {
                font-family: "stick";
                color: white !important;
                transition: 0.2s;
                letter-spacing: 0.1em;
                &:hover {
                    background: white !important;
                    color: gray !important;
                    padding-top: 13px;
                    padding-bottom: 17px;

                    /* icon link color */
                    .fa-twitter {
                        color: skyblue;
                    }
                    .fa-youtube {
                        color: red;
                    }
                    .fa-github {
                        color: blueviolet;
                    }
                }
            }
            
        }
        .navbar-collapse {
            border: none !important;
        }
    }
    main {
        width: var(--width);
        --content-width: calc(var(--width) * 0.96 - 40px);
        --content-height: calc(var(--content-width) * 0.5625);
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        p, h1, h2, h3, h4, h5, h6, ul > li {
            color: white;
        }
        p, a, ul > li {
            font-family: "Kiwimaru";
            text-shadow: 0 2px rgba(0, 0, 0, 0.4)
        }
        b, h1, h2, h3, h4, h5, h6 {
            font-family: "stick";
            letter-spacing: .1em;
            text-shadow: 0 4px rgba(0, 0, 0, 0.4)
        }
        a {
            color: coral !important;
            background-size: 1em;
            transition: 0.3s;
        }
        p {
            &::before {
                content: "　";
            }
        }
        .content-music-lyrics {
            pre {
                background: transparent;
                font-size: 1em;
                font-family: "NewTegomin";
                color: white;
                border: none;
            }
        }
        /* Articles */
        .content {
            font-size: 1.3em;
            background: rgba(black, 0.3);
            padding-left: 5px;
            padding-bottom: 20px;
            h1, h2, h3, h4, h5, h6 {
                font-size: 130%;
            }
            ul > li {
                padding: 5px;
                > a {
                    display: inline-block;
                    font-family: "Stick";
                    text-shadow: none;
                    font-weight: bold;
                    padding: 0px 10px;
                    width: auto;
                    background: linear-gradient(to right, transparent 50%, white 50%);
                    background-position: 0 0;
                    background-size: 200% auto;
                    border-radius: 0.3em 1em 1em 0.3em;
                    transition: 0.5s;
                    &:hover {
                        background-position: -100% 0;
                        text-decoration: none;
                    }
                }
                &::marker {
                    content: "";
                }                
            }
        }
        /* Toppage */
        .intro {
            transition: 0.5s;
            position: relative;
            display: inline-block;
            top: -150px;
            h1 {
                font-size: 4em;
                color: crimson;
                letter-spacing: 0.2em;
                font-weight: bold;
            }
            h2 {
                font-size: 2em;
                color: bisque;
                margin-bottom: 50px;
            }
            p {
                font-size: 0.9em;
            }
            @include isLarge(md) {
                p {
                    font-size: 1.2em;
                }
            }
        }
        &:hover .intro {
            margin-top: -15px;
        }    
        .content {
            iframe {
                width: var(--content-width);
                height: var(--content-height);
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .niconico-user {
            iframe {
                height: auto;
            }
        }
    }
    @include isLarge(md) {
        main {
            width: 750px !important;
        }
    }
}